    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
    
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }

    body {
        color: white;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }

    .caption {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .sidebar {
        z-index: 100;
        position: fixed;
        transform: translateY(85%);
    }

    .sidebar-icon {
        color: whitesmoke;
    }
    
    .nav-menu {
        display: flex;
        background-color: black;
        border-radius: 50%;
        align-items: center;
        padding: 10px 18px;
        margin-bottom: 8px;
        height: 56px;
        width: 100%;
        transition: all .2s ease-in-out;
    }

    .nav-menu:hover {
        transform: scale(1.1);
    }

    section {
        height: 100vh;
        padding-left: 10%;
    }

    .home {
        z-index: 0;
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .home::before {
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .hero-img {
        width: 360px;
        height: 360px;
        background-image: url("/images/portrait.png");
        background-size: contain;
        border-radius: 50%;
        border: 20px solid rgb(12, 12, 12, 0.9);
    }

    .home-padding {
        padding-top: 15%;
    }