@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

/* Defines the color pallette of the webpage */
:root {
  --navbar-color: #292b2ccb;
  --home-bg-color: #292b2c;
  --section-title-color: #333d58;
  --section-subtitle-color: #4a587eda;
  --secondary-color: #3270b5;
  --text-color: black;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: var(--navbar-color);
  margin-bottom: 0;
  border-radius: 0;
}

.nav-item {
  padding-left: 10px;
}

.nav-item:hover {
  animation-duration: 0.3s;
  transform: scale(1.1, 1.1);
}

.nav-item:active {
  animation-duration: 0.3s;
  transform: scale(1.1, 1.1);
  color: red;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.caption {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.sidebar {
  z-index: 100;
  position: fixed;
  transform: translateY(85%);
}

.sidebar-icon {
  color: whitesmoke;
}

.nav-menu:hover {
  transform: scale(1.1);
}

section {
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 5%;
  margin: 0;
}

section h3 {
  color: var(--section-subtitle-color);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--secondary-color);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title h2 {
  color: var(--section-title-color);
  position: relative;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.about-me-list .bi:not(.social-icons) {
  color: var(--secondary-color);
}

.about ul {
  list-style: none;
  padding-left: 0;
}

.about ul li {
  margin-bottom: 20px;
}

.about ul i {
  margin-right: 5px;
}

.home {
  background-color: #292b2c;
  color: white;
  z-index: 0;
  width: 100%;
  position: relative;
}

.home::before {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero-img {
  background-image: url("/images/portrait.png");
  background-size: contain;
  border-radius: 50%;
  border: 20px solid rgb(12, 12, 12, 0.9);
}

.home-padding {
  padding-top: 15%;
}

.social-icons a {
  font-size: 24px;
  display: inline-block;
  color: var(--section-title-color);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
  text-decoration: none;
}

.social-icons a:hover {
  color: var(--secondary-color);
}

.portfolio img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: scale(1, 1);
}

.portfolio img:hover {
  opacity: 0.5;
  transform: scale(1.025, 1.025);
}

.back-button {
  font-size: 16px;
}
